.backgroundHome {
  background-image: url(Subs/backgound.png);
  background-size: 300px;
  background-attachment: fixed;
}
.background {
  background-image: url(Subs/backgound2.png);
  background-size: 300px;
  background-attachment: fixed;
}
.background5 {
  background-image: url(Subs/background4.png);
  background-size: 300px;
  background-attachment: fixed;
}
.background1 {
 
}
.notes{
  border-bottom: 1px black dashed ;
  border-left: 4px black solid;
}
.bocket {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.pic1 {
  background-color: rgb(231, 238, 238);
  border-radius: 5px;

}

.Infobox {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;

}

.Infobox th {
  border: 1px solid black;
}

.boxer12 th {
  border-radius: 10px;
}

.bigct th {
  text-align: center;
}

.picelbook img {
  padding: 9px;
}

.Charaicon th {
  border-radius: 10px;

  border: 1px solid black;
  box-shadow: 3px 3px;

}

.Charaicon th img {
  border-radius: 20px;
  border: 1px solid black;

}
.novir th{
  padding: 10px;
}
.info {
  margin-left: auto;
  margin-right: auto;
}
.XER {
  display: flex;
  justify-content: space-around;
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.XER div {
  text-align: center;
}

.XER div img:hover {
  transform: rotate(-10deg); /* Adjust the rotate angle as needed */
}

.inforin th{
  border: 1px solid black;
  padding: 20px;
  
}
.inforin img{
  border: 1px solid rgb(255, 255, 255);
 
  
}
.pisc2 {
  border-radius: 10px;
}

.pisc1 {
  border-radius: 10px;
}

.bigct {

  background: white;
  min-height: 500px;
  width: 730px;

  border: rgb(109, 105, 98) 4px solid;

}

.cetri {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: solid;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 50px;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 10px;
  width: 100px;
  margin: auto;
}

.dropdown-content a {
  color: rgb(255, 205, 42);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #1f1f1f;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.infotable td th {
  border: 1px black solid;
}



.infotable th, td  {
padding: 10px;
border-radius: 10px;
background: white;
color: rgb(0, 0, 0);
}

.infotables{

}






.superior img  {
border: 1px solid black;
height: 100px;
}





.innerDiv {
  position: absolute;
  z-index: ;
}

